@using BreederBlazor.Models.Base

@if (Loaded)
{
    
    <RadzenCard Style="width: 100%; padding: 0px; background-color: aliceblue">
        
            <div class="row" style="margin: 10px 15px 10px 15px; border-radius: 4px; ">
            <div class="col" style="">
                @Note.Body
            </div>
        </div>
        <div class="row" style="background-color: lightblue; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; ">
            <div class="col" style="text-align: left;">
                <small>Updated: @Note.Edited.ToShortDateString()</small>
            </div>
            <div class="col" style="text-align: right;">
                <small>Created: @Note.Created.ToShortDateString()</small>
            </div>
                        
        </div>
    </RadzenCard>
            
}

@code
{
    [Parameter]
    public Note Note { get; set; }

    private bool Loaded = false;

    private bool FullView = false;

    protected override async Task OnInitializedAsync()
    {
        if (Note == null)
        {
            Note brc = new Note
            {
                Title = "Testing",
                Edited = DateTime.Now,
                Body = "Testing Body"
            };

            Note = brc;
        }
        Loaded = true;
    }


    void Change(object value, string name, string action)
    {
        //console.Log($"{name} item with index {value} {action}");
    }
}
