@page "/createBreedingRecord"

@using BreederBlazor.Components
@using BreederBlazor.Components.Forms 

@inherits BasePageComponent

@if (Loaded)
{
    <BreedingRecordForm ReturnToPreviousUrl="@(async () => await ReturnToPreviousUrl())" />
}
else
{
    <h3>Loading...</h3>
}


@code 
{


    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();



        Loaded = true;
    }

    protected async Task ReturnToPreviousUrl()
    {
        NavigationManager.NavigateTo(PageHistory.PopPage(), true);
    }


}
