@using BreederBlazor.Models.Base

@if (Loaded)
{
    <RadzenAccordion Expand=@(args => Change(args, "Accordion with single expand", "expanded"))>
        <Items>
            <RadzenAccordionItem Text="@Note.Title" Icon="account_circle">
                <RadzenCard Style="width: 50%;">
                    <div class="row"><div class="col-md-6" style="text-align: right;">@Note.Title</div><div class="col-md-6">@Note.Edited</div></div>
                    <div class="row"><div class="col-md-2" style="text-align: right;">@Note.Body</div></div>
                </RadzenCard>
            </RadzenAccordionItem>

        </Items>
    </RadzenAccordion>
}

@code
{
        [Parameter]
        public BreedingRecordNote Note { get; set; }

        private bool Loaded = false;

        private bool FullView = false;

        protected override async Task OnInitializedAsync()
        {
            if (Note == null)
            {
                BreedingRecordNote brc = new BreedingRecordNote
                {
                    Title = "Testing",
                    Edited = DateTime.Now,
                    Body = "Testing Body"
            };

            Note = brc;
        }


        Loaded = true;
    }


    void Change(object value, string name, string action)
    {
        //console.Log($"{name} item with index {value} {action}");
    }
}
